
/* 快捷导航 */
.wrapper{
    width: 1240px;
    margin: 0 auto;
}

.shortcut{
    height: 52px;
    background-color: #333;
}

.shortcut .wrapper ul{
    float: right;
}

.shortcut .wrapper li{
    float: left;

    line-height: 52px;
}

.shortcut .wrapper li a{
    padding: 0 16px;
    border-right: 1px solid #666;

    color: #dcdcdc;
    font-size: 14px;
}

.shortcut .wrapper  a span{
    display: inline-block;
    margin-right: 8px;

    vertical-align: middle;

    width: 11px;
    height: 16px;
    background-image: url(../images/sprites.png);
    background-position: -160px -70px;
}

.shortcut .wrapper li:last-child a{
    position: relative;
    border: 0;
}

.shortcut .wrapper .code {
    display: none;
    position: absolute;
    left: 50%;
    top: 33px;
    transform: translate(-50%);
}

.shortcut .wrapper li:last-child a:hover .code{
    display: block;
    z-index: 1;
}










/* 标题栏 */

.header{
    margin: 30px auto;
    height: 70px;
}


.header .logo{
    float: left;
    margin-right: 40px;

    width: 207px;
    height: 70px;
}

.header .logo h1{
    width: 207px;
    height: 70px;
}

.header .logo h1 a{
    display: block;
    width: 207px;
    height: 70px;
    background-image: url(../images/logo.png);
    background-size: contain;

    font-size: 0;
    /* 让h1里的字看不见 */
}


.header .nav{
    float: left;

    height: 70px;
}

.header .nav li{
    float: left;
    margin-right: 48px;
    line-height: 70px;
}

.header .nav li a{
    padding-bottom: 7px;
}

.header .nav li a:hover{
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
}


.header .search{
    float: left;

    position: relative;

    margin-top: 24px;
    margin-left: 34px;
    width: 172px;
    height: 30px;
    border-bottom: 2px solid #e7e7e7;
}

.header .search input{
    padding-left: 30px;
    width: 172px;
    height: 28px;
}

.header .search input::placeholder{
    font-size: 14px;
    color: #ccc;
}

.header .search span{
    position: absolute;
    left: 2px;
    top: 4px;

    width: 18px;
    height: 18px;
    background-image: url(../images/sprites.png);
    background-position: -79px -69px;
}

.header .kart{
    float: left;
    position: relative;

    margin-left: 15px;
    margin-top: 28px;

    width: 23px;
    height: 23px;
    background-image: url(../images/sprites.png);
    background-position: -119px -69px;
}

.header .kart a{
    display: block;
    width: 23px;
    height: 23px;
}

.header .kart span{
    /* 绝对定位，有行内块特点 */
    position: absolute;
    right: -11px;
    top: -5px;

    width: 20px;
    height: 15px;
    background-color: #e26237;
    border-radius: 8px;

    font-size: 13px;
    color: white;
    text-align: center;
    line-height: 15px;
}





/* banner栏 */

.banner{
    height: 500px;
    background-color: #f5f5f5;
}

.banner .wrapper{
    position: relative;
    height: 500px;

}

.banner .wrapper .aside{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 500px;
    background-color: rgba(0,0,0,0.8);
}

.banner .wrapper .aside li{
    height: 50px;
    line-height: 50px;
}

.banner .wrapper .aside li a{
    position: relative;
    display: block;

    padding-left: 36px;
    padding-right: 18px;
    height: 50px;

    color: white;
}

.banner .wrapper .aside li a span{
    margin-left: 15px;

    font-size: 14px;
}

.banner .wrapper .aside li a:hover{
    background-color: #27ba9b;
}

.banner .wrapper .aside li a::after{
    position: absolute;
    right: 19px;
    top: 19px;

    content: '';
    width: 6px;
    height: 11px;
    background-image: url(../images/sprites.png);
    background-position: -80px -110px;
}

.banner .wrapper .prev,
.banner .wrapper .next{
    position: absolute;
    top: 228px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.banner .wrapper .prev{
    left: 260px;

    background-image: url(../images/sprites.png);
    background-position: 15px -60px;
}

.banner .wrapper .next{
    right: 10px;

    background-image: url(../images/sprites.png);
    background-position: -22px -60px;
}


.banner .wrapper ol{
    position: absolute;
    bottom: 30px;
    left: 680px;

    height: 10px;

}

.banner .wrapper ol li{
    float: left;
    margin-right: 24px;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.43);

    cursor: pointer;
}

.banner .wrapper ol li:last-child{
    margin: 0;
}

.banner .wrapper ol .current{
    background-color: #fff;
}









/* 新鲜好物 */

.goods .hd{
    height: 114px;
    line-height: 114px;
}

.goods .hd h2{
    float: left;

    height: 114px;

    font-size: 29px;
    font-weight: 400;
}

.goods .hd h2 span{
    margin-left: 34px;
    font-size: 16px;
    color: #999;
}

.goods .hd a,
.fresh .hd .more{
    float: right;

    color: #999;
}

.goods .hd a::after,
.fresh .hd .more::after{
    display: inline-block;
    content: '';
    margin-left: 13px;

    width: 7px;
    height: 13px;

    background-image: url(../images/sprites.png);
    background-position: 0 -110px;

    vertical-align: middle;
}

.goods .bd li{
    position: relative;
    float: left;
    margin-right: 8px;

    width: 304px;
    height: 405px;
    background-color: #f0f9f4;

    text-align: center;
}

.goods .bd li:last-child{
    margin-right: 0;
}

.goods .bd li img{
    width: 304px;
}

.goods .bd li h3{
    margin-top: 18px;
    margin-bottom: 10px;

    font-size: 20px;
    font-weight: 400;
}

.goods .bd li div{
    font-size: 17px;
    color: #9a2e1f;
}

.goods .bd li div span{
    font-size: 23px;
}

.goods .bd li b{
    position: absolute;
    left: 17px;
    top: 18px;

    width: 28px;
    height: 51px;
    border: 1px solid #27ba9b;
    border-radius: 5px;

    line-height: 25px;
    font-size: 18px;
    font-weight: 400;
    color: #27ba9b;
}







/* 生鲜 */

.fresh .hd{
    height: 96px;
    line-height: 96px;
}

.fresh .hd h2{
    float: left;

    height: 96px;

    font-size: 29px;
    font-weight: 400;
}

/* .fresh .hd .more{
    float: right;
} */
/* 和goods的写一起了 */

.fresh .hd ul{
    float: right;

    margin-right: 45px;
}

.fresh .hd ul li{
    float: left;
}

.fresh .hd ul li a{
    padding: 2px 7px;
    margin-right: 13px;
}

.fresh .hd ul li a:hover{
    background-color: #27ba9b;
    color: white;
}


.fresh .bd .left{
    float: left;
    width: 240px;
    height: 610px;

    margin-bottom: 50px;
}

.fresh .bd .right{
    float: left;
    width: 1000px;
    height: 610px;
}

.fresh .bd .right li{
    float: left;

    margin-left: 8px;
}


.fresh .bd .right li img{
    margin: 8px 29px;
    width: 184px;
    height: 184px;
}

.fresh .bd .right li h3,
.fresh .bd .right li b,
.fresh .bd .right li div{
    margin-left: 29px;

    font-size: 14px;
    font-weight: 400;
}

.fresh .bd .right li h3{
    width: 166px;
}

.fresh .bd .right li div{
    font-size: 17px;
    color: #9a2e1f;
}

.fresh .bd .right li div span{
    font-size: 23px;
}













/* 版权声明 */

.footer{
    height: 342px;
    background-color: #333;
}

.footer .wrapper{
    width: 1393px;
}

.footer .top{
    padding-top: 58px;
    padding-left: 135px;
    height: 175px;
    border-bottom: 3px solid #434343;
}

.footer .top li{
    float: left;
    position: relative;
    margin-right: 300px;
    width: 195px;
    height: 58px;
    line-height: 58px;
    
}

.footer .top li:last-child{
    margin-right: 0;
}

/* 伪元素 是行内 */
/* 不好对齐的话用定位 */
.footer .top li::before{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 58px;
    height: 58px;
    background-image: url(../images/sprites.png);
    vertical-align: middle;
}

.footer .top li span{
    margin-left: 78px;
    font-size: 28px;
    color: white;
}

.footer .top li:nth-child(2)::before{
    background-position: -64px 0;
}

.footer .top li:last-child::before{
    background-position: -129px 0;
}

.footer .bottom {
    padding-top: 40px;

    text-align: center;
    font-size: 14px;
    color: #999;
}

.footer .bottom a{
    font-size: 14px;
    color: #999;
}

.footer .bottom p{
    margin-bottom: 20px;
}